@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    margin: 0;
    background: rgb(31,33,48);
    color: #e0dfdf;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(17, 17, 23);
    padding: 0.5em;
}
header nav  {
    display: flex;
    justify-content: center;
    gap: 1.25em;
}
header nav a {
    color: aquamarine;
}

.profilePic {
    float: left;
    margin-right: auto;
    border: solid rgb(0, 0, 0) 0.25rem;
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
}

.titlecard {
    margin-left: 14em;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 0.1rem -0.1rem 0 #000, 0.1rem -0.1rem 0 #000, -0.1rem 0.1rem 0 #000, 0.1rem 0.1rem 0 #000;
}

.subtext {
    color: aquamarine;
    font-weight: lighter;
    font-size: 1rem;
    text-align: left;
}

h2 {
    border-bottom: 0.1rem solid rgb(193,193,193);
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}
section {
    padding: 2.5em;
    margin: 1.25em auto;
    max-width: 56.25em;
    background-color: rgb(37, 40, 58);

}
#About p {
    margin: 1.5rem;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#Connect a {
    justify-content: space-around;
    display: flex;
    color: rgb(123,175,227);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* ==================================== 
// TABLET //
====================================== */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
    padding: 1.25em;
    }
    header nav a {
    font-size: 1rem;
    }

    .experience-header {
    font-size: 1rem;
    }
    .title-card {
        font-size: 0.75rem;
    }
    #Connect a {
        font-size: 1.6rem;
    }
    #About p {
        font-size: 2rem;
    }
}

/* ==================================== 
// Mobile //
====================================== */
@media (min-width: 330px) and (max-width: 767px) {
    header {
    padding: 2em;
    }
    header nav a {
    font-size: 1.5rem;
    }

    .experience-header {
    font-size: 1.5rem;
    }
    .titlecard {
        font-size: 0.5rem;
    }
    #Connect a {
        font-size: 2rem;
    }
}